// $color-primary: #43425D; // color name: pineapple
$color-primary: #43425D; // color name: pineapple
$color-primary-dark: #3C3B53; // color name: arsenic; darker than primary 
$color-primary-light: #5A5978; 
$color-accent: #A3A1FB; // also chart color: vibrant purple; maximumBluePurple
$color-manatee: #9E9DBB; //h4TextBlue, just a tad darker than bluebell
$color-blueBell: #A5A4BF; // nav drawer logo
$color-soap: #CDCCE5;
$color-aliceBlue: #F1F5F8; // chart grid lines
$color-lavenderWeb: #EDECFE; // chart color: lighter purple
$color-mayaBlue: #6BDDFE; // chart color
$color-mediumAquamarine: #60E2A1; // chart color
$color-coralRed: #ff4141; // chart color
$color-cornflowerBlue: #5395FF; // for panel BB link
$color-mellowApricot: #FFC06A; // notification color
$color-white: #fff;
$color-white-opacity70: rgba(255,255,255,0.75);
$color-white-opacity0: rgba(255,255,255,0);
$color-ghostWhite: #F4F4FB;
$color-glitter: #E9E9F0; // nav drawer main font color
$color-gray: #A8A8A8;
$color-quicksilver: #A6A7AD; // h4
$color-independence: #4D4F5C; // dashboard bold text
$color-eerieBlack: #0F1A20; // just came across it